@font-face {
  font-family: vazir;
  src: url(assets/fonts/Vazir.ttf);
}
:root {
  --c1: #270257;
  --c2: #fe9800;
  --c3: #000000;
  --c4: #ffffff;
  --nav-button: rgba(255, 255, 255, 0.05);
  --nav-hover: rgba(255, 255, 255, 0.1);
  --brown: rgb(85, 28, 10);
  --popup: rgba(0, 0, 0, 0.5);
}
html {
  font-size: 62.5%;
  font-family: vazir, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
/* upper codes: general adjustments */
.header {
  background-color: var(--c2);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  background: url(assets/images/bac2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center center;
}
/* upper codes: general header adjustments */
.button {
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
.button2 {
  border-radius: 2rem;
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
.header .button {
  margin-bottom: 2rem;
}
.button-yellow {
  background-color: var(--c2);
  color: var(--c1);
}
.button-purple {
  background-color: var(--c1);
  color: var(--c4);
}
.button-purple:hover {
  background-color: var(--c2);
}
.button-yellow:hover {
  background-color: var(--c4);
}
.button:hover {
  transform: scale(1.05);
}
.button2:hover {
  transform: scale(1.05);
  background-color: brown;
}
/* upper codes: button adjustments */
.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* upper codes: general navbar adjustments */
.nav-item {
  color: var(--c4);
  background-color: rgba(71, 67, 67, 0.418);
  margin: 0.5rem;
  font-size: 2.5rem;
  border-radius: 9999px;
  transition: 0.2s ease-in-out;
  padding: 0.5rem;
}
.nav-item:hover {
  background-color: var(--nav-button);
  transform: translateY(0.4rem);
}
.burger {
  background-color: var(--c4);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 1.5rem;
  padding: 0.25rem;
  display: none;
  transition: 0.2s ease-in-out;
}
.burger:hover {
  transform: scale(1.1);
}
/* upper codes: navbar items adjustments */
.logo {
  width: 30rem;
  border: none;
  border-radius: 50%;
}
.caption {
  font-family: vazir, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
}
/* upper codes: logo adjustments */
@media only screen and (max-width: 600px) {
  .header {
    background: url(assets/images/bac.jpg);
    background-size: cover;
  }
  .nav-item {
    display: none;
  }
  .nav-item-show {
    display: flex;
    animation: fadeIn 1s;
    font-size: 0.8 rem;
    padding: 0.2 rem;
  }
  .burger {
    display: flex;
  }
  .logo {
    width: 20rem;
    border: none;
    border-radius: 50%;
  }
  .button {
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    transition: 0.2s ease-in-out;
  }
  .caption {
    font-family: vazir, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
  }
}
/* up codes: for responsibility(mobile) */
/* ALL UPPER CODES: FOR HEADER OF PAGE,NOW WE ENTER THE MAIN PART*/
.menu {
  background: linear-gradient(
    170deg,
    rgba(28, 15, 5, 1) 26%,
    rgba(110, 55, 0, 1) 59%,
    rgba(115, 69, 8, 1) 74%,
    rgba(117, 61, 8, 1) 89%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu h1 {
  color: var(--c4);
  padding: 2rem;
}
/* upper codes: general menu adjustments */
.brown {
  color: var(--c2);
}
.yellow {
  color: var(--c2);
}
/* upper code: just a class for  color  */
h1,
h2 {
  font-size: 4rem;
  margin: 0;
}
p {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
/* upper codes: some text design */
.menu-items {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-around;
  align-content: space-around;
}
/* upper codes: general menu-items adjustments */
.menu-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
  margin: 3rem 0;
}
.menu-item:hover {
  transform: scale(1.04);
}
/* upper codes:menu-items adjustments( and pseudo class) */
.menu-item-text {
  background-color: var(--c4);
  color: var(--c2);
  text-align: center;
  border-radius: 2rem;
  padding: 1rem;
  box-sizing: border-box;
}
/* upper codes: menu-items-text adjustments(caption of menu-item-image) */
.menu-item-image {
  border-radius: 2rem;
  margin-bottom: -5rem;
}
/*  upper codes: menu-items-image adjustments */
@media only screen and (max-width: 992px) {
  .menu-items {
    grid-template-columns: 40% 40%;
  }
}
@media only screen and (max-width: 600px) {
  .menu-items {
    grid-template-columns: 90%;
  }
}
/* upper codes: media query for responsibility(mobile or other devices) */
/* ALL UPPER CODES: FOR MENU PART */
.comments {
  background: linear-gradient(
    170deg,
    rgba(110, 55, 0, 1) 38%,
    rgba(184, 104, 0, 1) 65%,
    rgba(204, 99, 0, 1) 98%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.comments h2 {
  color: var(--brown);
  padding: 2rem;
  text-align: center;
}
.comment-items {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 15% 15%;
  justify-content: space-evenly;
  align-content: space-between;
}
.comment-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0;
}
.comment-item-animation {
  animation: comment 0.5s;
}
@keyframes comment {
  from {
    opacity: 0.4;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.comment-item-image {
  border-radius: 50%;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.comment-item-text h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--brown);
}
.comment-item-text p {
  text-align: justify;
  font-style: italic;
  border-left: 0.3rem solid var(--c2);
  padding-left: 2rem;
}
/* upper codes: for comment adjustments */
@media only screen and (max-width: 992px) {
  .comment-items {
    grid-template-columns: 30% 30%;
  }
}
@media only screen and (max-width: 600px) {
  .comment-items {
    grid-template-columns: 50%;
  }
}
/* upper codes: for responsibility */
/* ALL UPPRE CODES: FOR COMMENT PART */
.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--brown);
  color: var(--c4);
  padding: 5rem 0;
}
.about-us-image {
  width: 40%;
  border-radius: 5rem;
  box-shadow:
    rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.about-us-text {
  width: 40%;
  text-align: center;
}
.about-us-text p {
  text-align: justify;
  font-size: 2rem;
}
/* upper codes: about-us adjustments */
@media only screen and (max-width: 992px) {
  .about-us {
    flex-direction: column;
    padding: 2rem 0;
  }
  .about-us-image,
  .about-us-text {
    width: 90%;
  }
}
/* upper codes: for responsimility */
/* ALL UPPER CODES: ABOUT-US PART  */
.footer {
  width: 100%;
  color: var(--c2);
  background-color: var(--brown);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0;
}
/* upper codes:general footer adjustments */
.footer h2 {
  font-size: 2rem;
}
/* upper codes: element selected footer adjustments */
.contact-us,
.form {
  width: 40%;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to right, #000000, #eb5757);
  padding: 2rem;
  border-radius: 5rem;
}
/* upper codes:box (ans in-box-items adjustments) */
.contact-us-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact-us-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-us-item a,
.contact-us-item p {
  background-color: var(--c2);
  color: var(--c4);
  border-radius: 1rem;
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  align-items: center;
}
.contact-us-item a:hover,
.contact-us-item p:hover {
  background-color: var(--brown);
}
/* upper codes: contact-us part adjustments */
.input {
  border: none;
  background-color: var(--c2);
  color: var(--c4);
  padding: 2rem;
  box-sizing: border-box;
  text-indent: 1rem;
  border-radius: 1rem;
  width: 90%;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
}
.form select {
  padding: 1.9rem 2rem;
  cursor: pointer;
  appearance: none;
}
.input::placeholder {
  color: var(--c4);
}
.input:focus {
  outline: none;
  background-color: var(--brown);
  color: var(--c2);
}
.form-button {
  border: none;
  background-color: var(--c2);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
}
.form-button:hover {
  background-color: var(--brown);
  color: var(--c2);
}
.float {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 5%;
  border-radius: 50%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .contact-us,
  .form {
    width: 80%;
  }
  .contact-us {
    margin-bottom: 2rem;
  }
  .float {
    width: 15%;
  }
}
/* upper codes: for responsibility */
.popup-hide {
  display: none;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--popup);
  animation: fadeIn 1s;
}

.popup-message {
  position: relative;
  width: 20%;
  height: 40vh;
  background: linear-gradient(to right, #6f0000, #200122);
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: solid var(--c1);
  color: var(--c1);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  animation: fadeIn 1s;
}
.close-btn {
  position: absolute;
  background-color: red;
  top: 10px;
  right: 10px;
  border-radius: 40%;
  transition: ease-in-out 0.2s;
}
.close-btn:hover {
  transform: scale(1.5);
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .popup-message {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .popup-message {
    width: 55%;
  }
}

@media (max-width: 574px) {
  .popup-message {
    width: 70%;
  }
}
/* upper codes: for popup window*/
